**/bin/**
**/obj/**
**/Debug/**
**/.vs/**
.vs/QBundle/v14/.suo
QBundle/frmFirstTime.vb
QBundle/frmFirstTime.vb
.vs/QBundle/v15/sqlite3/storage.ide
.vs/QBundle/v15/sqlite3/storage.ide
.vs/QBundle/v15/sqlite3/storage.ide
*.ide
